*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

header {
    background-color: #306bb3;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

header > img {
    width: 50%;
    max-width: 150px;
}

header>div>nav>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 0 36px;
    align-items: center;
}

header>div>nav>ul>li>a{
    color: white;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}

header>div{
    display: flex;
    justify-content: space-between;
    width: 32%;
    align-items: center;
}
.ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

button {
    background-color: white;
    color: #306bb3;
    border: none;
    min-width: 82px;
    min-height: 38px;
    border-radius: 4px;
  }



  li{
    display: flex;
    flex-direction: row;
  }

/*card*/

.card {
    background-color: #DEE5ED;
    width: calc(90% / 4);
    height: 400px;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .card>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
  }
  
  .card>div>p {
    color: #1A202C;
    font-weight: bolder;
    text-transform: initial;
  }
  
  
  .card>picture {
    width: 100%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card>div>button{
    width: 45%;
    height: 100%;
    background-color: #306bb3;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
  }

  .main-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

footer {
    display: flex;
    flex-direction: row;
    background-color: #306bb3;
    height: 380PX;
}

.contenedor_foo {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4%;
}

.contenedor_foo>img {
    width: 200px;
    height: 70px;
}

.contenedor_foo>p {
    width: 70%;
    padding-top: 10%;
    color: white;
}

.contenedor_foo>div {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-top: 15%;
}

.contenedor_foo>div>img {
    background-color: white;
    width: 33.6px;
    height: 33.6px;
    border-radius: 50%;
}

.ref {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 4%;
    margin: 0 5% 0 0;
}

.About {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;
}

.Community {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;
}

.Socials {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15%;
    font-size: 20px;
}

.Community>a,
.About>a,
.Socials>a {
    color: white;
    opacity: 70%;
}


 